<div class="max-w-sm mx-auto">
  @if (group$ | async; as group){
    @if (expense$ | async; as expense){
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 ">
      <div class="grid grid-cols-1 justify-items-stretch">
        <div>
          <div class="inline justify-between">
            <div>
              <h4 class="mb-3 text-3xl font-semibold text-gray-900 md:text-xl ">
                {{ expense.label }}
              </h4>
            </div>
            <div>
              <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl ">
                  {{ expense.date | date : 'dd/MM/yyyy' }}
              </h5>
            </div>
          </div>
          <p>{{ expense.value }} &euro; payed by {{ expense.payor?.username }} </p>
        </div>
      </div>



      <ul class="my-4 space-y-3">
        @for (detail of details$ | async; track detail.id){
          <li>
            <a href="#" class="flex items-center p-3 text-base text-black border-2 rounded-lg bg-white hover:bg-gray-100 group hover:shadow">
              <svg class="w-[30px] h-[30px] text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">{{ detail.user.username }}</span>
              <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-black bg-white rounded ">{{ detail.value }} &euro;</span>
            </a>
          </li>
        }
      </ul>

      <div class="flex grid grid-cols-3 justify-content-between p-2">

          <div class="flex justify-center">
            <button (click)="back()" class="focus:outline-none text-white bg-gray-900 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2">Retour</button>
          </div>

          <div class="flex justify-center">
            <a routerLink="modifyexpense" [queryParams]="{ id: expense.id }">
              <button class="focus:outline-none text-white bg-gray-900 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2">Modify</button>
            </a>
          </div>

          <div class="flex justify-center">
              <button (click)="delete()" class="focus:outline-none text-white bg-red-900 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2">Delete</button>
          </div>

      </div>

    </div>
  }
  }
</div>
