<section class="text-white body-font">
  <div class="container mx-auto px-5 py-10">
      <div class="w-full justify-content-center justify-center items-center">
        <div class="relative text-center">
          <label for="password" class="leading-7 text-md-center text-white">Password</label>
          <input [(ngModel)]="passwordControl" type="password" id="password" name="hero-field" class="w-full bg-gray-100 bg-opacity-50 rounded focus:ring-2 focus:ring-offset-white focus:bg-transparent border border-gray-300 text-white py-1 px-3 leading-8 ">
        </div>
        <div class="flex align-self-center py-5 justify-content-between">
            <button (click)="back()" class="inline-flex text-white bg-gray-900 border-0 py-2 px-6 focus:outline-none rounded text-lg">
              <svg class="w-[30px] h-[30px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
              </svg>
            </button>
          <a routerLink="/expenses" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button (click)="passwordControlFunction()" class="inline-flex text-white bg-gray-900 border-0 py-2 px-6 focus:outline-none rounded text-lg">
              <svg class="w-[30px] h-[30px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
</section>
