<div class="flow-root">
  <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
    <li class="py-3 sm:py-4">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img class="w-8 h-8 rounded-full" src="https://www.svgrepo.com/download/2576/money.svg" alt="Neil image">
        </div>
        <div class="flex-1 min-w-0 ms-4">
          <p class="text-sm font-medium text-gray-900 truncate dark:text-black">
            Participant 1
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
