<p>api-tester works!</p>
<p>{{expenseById | async }}</p>
@if (oneUserObservable$ | async; as user) {
  <p>{{ user.username }}</p>
}
@if (oneUserObservableFromObservableArray$ | async; as user) {
  <p>{{ user.username }}</p>
}
@if (expensesObservableList | async; as expenses) {
  <p>{{ expenses }}</p>
}


<button (click)="showUsers()" class="flex ml-auto text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded">Get users</button>
<button (click)="showOneUser()" class="flex ml-auto text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded">Get one user</button>
<button (click)="showExpenses()" class="flex ml-auto text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded">Show Expenses</button>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      @for (item of users ; track item.idUser){
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" [src]="item.image">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">{{ item.username.toUpperCase() }}</h2>
          <p class="leading-relaxed text-base">{{ item.quote }}</p>
        </div>
      }
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      @for (item of usersObservable$ | async ; track item.idUser){
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" [src]="item.image">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">{{ item.username.toUpperCase() }}</h2>
          <p class="leading-relaxed text-base">{{ item.quote }}</p>
        </div>
      }
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      @for (item of expensesObservableList | async ; track item.idExpense){
        <div class="sm:w-1/2 mb-10 px-4">
          <p class="leading-relaxed text-base">{{ item.expenseName }}</p>
        </div>
      }
    </div>
  </div>
</section>
