<div class="w-full mb-3 max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-black">Already in</h5>
  <app-participants></app-participants>
</div>
<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-black">Participants to add</h5>
    <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
      Add all
    </a>
  </div>
  @for (item of users; track item.id){
  <app-add-participants-line [user] ="item"></app-add-participants-line>
  }
</div>
